* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
* p,
* b {
  font-family: sans-serif !important;
}
body {
  background-color: rgb(242, 255, 245);
  overflow-x: hidden !important;
}
.d-none {
  display: none;
}

/*** Navbar ***/
nav {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  height: 80px;
  padding: 7px 70px;
  align-items: center;
  color: #fff;
  justify-content: space-around;
  background-color: rgb(0, 191, 48);
  z-index: 2;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 65px;
}
nav .logo h1 {
  width: 100%;
  font-size: 25px;
  margin-left: 5px;
  letter-spacing: 0px;
}

nav .search {
  display: block;
  width: 50%;
}
nav .search .row {
  display: flex;
  padding: 5px;
  height: 40px;
  margin-bottom: 4px;
  border-radius: 2px;
  background-color: #fff;
}
nav .search input {
  width: 99%;
  height: auto;
  border: none;
  border-bottom: solid 2px rgb(0, 191, 48);
  outline: none;
}
nav .about a {
  padding: 20px;
  text-align: center;
}
nav .about i {
  color: #fff;
  font-size: 30px;
}
/* Akhir Navbar */

/* Download */
.download {
  background-color: #fff;
  margin: 30px 100px;
  margin-top: 100px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(17, 17, 17, 0.507);
}
.download h1 {
  text-align: center;
  margin-bottom: 20px;
}
.download-container h2 {
  margin-bottom: 15px;
}
.download-container .flex4 {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.download-container .flex2 {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}
.download-container ul {
  display: block;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
.download-container li {
  width: 12vw;
  padding: 14px;
  display: block;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 2px #111;
}
.download-container li img {
  width: 9vw;
}
.download-container h4 {
  margin: 0 0 9px;
}

.download-container a {
  position: relative;
  width: 8vw;
  display: flex;
  margin: 5px auto 0;
  color: #fff;
  padding: 6px 0;
  border-radius: 3px;
  text-decoration: none;
  background-color: rgb(3, 211, 55);
}
.download-container a:hover {
  transform: scale(1.05);
}
.download-container a p {
  margin: auto;
}
.download-container a p i {
  padding-right: 2px;
}
.text-notification {
  margin-top: 20px;
  text-align: center;
  padding: 0 10vw;
}
/* Akhir Download */

/* Footer */
footer {
  background: rgb(1, 193, 49);
  height: auto;
  width: 100vw;
  color: #fff;
}
.footer-content {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20vw;
}
.footer-content h3 {
  font-size: 1.8em;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 2em;
  text-shadow: 0 0 2px #111;
}
.footer-content p {
  max-width: 500px;
  margin: 0 auto;
  line-height: 19px;
  font-size: 14px;
  text-shadow: 0 0 2px #111;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1.2rem 0;
}
.socials li {
  margin: 0 14px;
}
.socials a {
  color: #fff;
}
.socials a i {
  font-size: 1.6rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
  transform: scale(1.2);
}
.footer-content p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-content span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-bottom {
  background: rgb(0, 179, 45);
  width: 100vw;
  padding: 20px 0;
  box-shadow: -1px -1px 1px rgb(0, 131, 33);
  text-align: center;
}
.footer-bottom a {
  border-bottom: 1px solid #fff;
  color: rgb(231, 255, 237);
  text-decoration: none;
  transition: 0.1s;
}
.footer-bottom a:hover {
  border-bottom: 1px solid aqua;
  color: aqua;
}
.footer-bottom p i {
  font-size: 17px;
  padding-right: 3px;
  color: rgb(0, 0, 0);
}
/* Akhir Footer */

@media screen and (max-width: 1125px) {
  .download-container a p {
    font-size: 10pt;
  }
}

@media screen and (max-width: 1000px) {
  .download {
    padding: 30px 30px;
  }
  .download-container li {
    width: 14vw;
  }
  .download-container a {
    width: 100%;
  }
}

/* Responsive Tablet */
@media screen and (max-width: 875px) {
  /* Navbar */
  nav {
    padding: 7px 15px;
  }
  nav .logo img {
    width: 60px;
  }
  nav .logo h1 {
    font-size: 21px;
    letter-spacing: 1px;
  }
  /* Akhir Navbar */

  /* Download */
  .download {
    margin: 0 50px;
  }
  .download ul {
    display: block;
  }
  .download-container .flex4 {
    display: block;
  }
  .download-container .flex2 {
    display: flex;
    width: 80vw;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .download-container li {
    width: 19vw;
    margin-bottom: 10px;
  }
  .download-container li img {
    width: 10vw;
  }
  .download-container h4 {
    margin: 0 0 5px;
  }
  .download-container a {
    width: 11vw;
  }
  .download-container a p {
    font-size: 10pt;
  }
  /* Akhir Download */
}
/* Responsive Mobaile */
@media screen and (max-width: 700px) {
  .d-nonem {
    display: none;
  }
  /* Navbar */
  nav .logo img {
    width: 50px;
  }
  nav .logo h1 {
    font-size: 15px;
  }
  /* Akhir Navbar */

  /* Download */
  .download {
    margin: 0 40px;
    padding: 25px;
  }
  .download-container .flex2 {
    display: flex;
    width: 70vw;
  }
  .download-container li {
    width: 25vw;
  }
  .download-container a {
    width: 100%;
  }
  .text-notification p {
    font-size: 10pt;
  }
  /* Akhir Download */
}

/* Responsive bohraroh */
@media screen and (max-width: 480px) {
  nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .logo h1 {
    font-size: 14pt;
  }
  nav .about a {
    padding: 0;
  }
  nav .about i {
    font-size: 26px;
    padding: 0 10px;
  }
  .d-none-search {
    display: none !important;
  }
  .d-noneall {
    display: none;
  }

  /* Download */
  .download {
    padding-top: 15px !important;
  }
  .download h1 {
    padding-bottom: 10px;
  }
  .download-container li a {
    width: 19vw;
  }
  .text-notification p {
    font-size: 9pt;
  }

  .footer-content {
    padding: 0 10vw !important;
    height: auto;
  }
  .footer-content {
    padding: 0 20vw 0 19vw;
  }
  .footer-content h3 {
    font-size: 20pt;
    line-height: 40px;
  }
  .footer-content p {
    font-size: 10pt;
    line-height: 15px;
  }
  .footer-bottom p {
    font-size: 9.5pt;
  }
/* Responsive Mobaile q */
  .download {
    margin: 80px 15px 10px;
    padding: 30px 30px 10px;
  }
  .download h1 {
    margin-bottom: 0;
  }
  .download-container ul .flex2 {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .download-container .flex4 {
    margin: 0 0 10px 0;
  }
  .download-container ul li {
    width: 100%;
    height: auto !important;
    display: flex !important;
    justify-content: space-between;
    margin: 0 auto 10px;
  }
  .download-container ul li h4 {
    font-size: 9pt;
    margin: 0;
  }
  .download-container ul li p {
    margin: auto 0;
    font-size: 8.5pt;
  }
  .download-container li h4 {
    margin-top: 0;
  }
  .download-container li a {
    position: absolute;
    margin-top: 3.5vh;
    padding: 2px 0;
    margin-left: 19vw;
  }
  .download-container li a p {
    margin: 0 auto;
  }
  .download-container li a p .fa {
    display: none;
  }
}
